:root {
  font-size: 16px;
  font-family: 'Urbanist';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #1c1c22;
  --transition-speed: 600ms;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.navBar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 200ms ease;
}

.navBar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
  width: 100%;
  margin: 0;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
}

.link-text {
  opacity:0;
  margin-left: 1rem;
  color: var(--text-primary);
  transition: all 0.2s;
}

.link-text-l {
  display:none;
  opacity:0;
  margin-left: 1rem;
  margin-right: 1rem;
  color: var(--text-primary);
}

.navBar:hover {
  width: 16rem;
}

.navBar:hover .link-text {
  opacity:1;
  transition: all 0.2s;
}

.navBar:hover .link-text-l {
  display:block;
  opacity:1;
  transition: all 0.2s;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width:100%;
}

.fas {
  color: #6decca;
  font-size: 32px;
  min-width: 2rem;
  transition: var(--transition-speed);
}

.clickable {
  cursor: pointer;
}

.containerMain {
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-wrapper button {
  width: 200px;
}

.mainDiv {
  padding: 1rem;
  margin-left: 5rem;
}

html {
  height: 100%;
}

body {
  font-family: 'Urbanist', sans-serif;
  position: relative;
  color: white;
  background: #2A2C36;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

select {
  height: 2em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 8px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

button {
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.2rem;
  transition: transform ease-in 0.1s;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: all 0.3s;
}

button:hover {
  background-color: #5dfdcb;
  transition: all 0.3s;
  border-color: #5dfdcb;
  color: black;
}

.LoginButton:hover {
  background-color: #5dfdcb;
  transition: all 0.3s;
  border-color: #5dfdcb;
  color: black;
}

.u-t-center {
  text-align: center;
}

.dataTable {
  border-collapse: collapse;
}

.dataTable td,
th {
  border: solid black 2px;
  padding: 8px;
  overflow: auto;
}

.heading {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.contentWrapper {
  height: 100%;
  width: 100%;
}

.menu-wrapper {
  display: flex;
  justify-content: center;
}

.menu-wrapper button {
  width: 200px;
}

.config-form label {
  display: block;
}

.input-wrapper {
  margin-bottom: 8px;
}

.input-wrapper input {
  border-radius: 4px;
  width: 300px;
  height: 24px;
}

.button-icon {
  margin-right: 5px;
}

.button-icon:hover {
  transform: scale(1.25);
}

.dataTable {
  border-collapse: collapse;
}

.dataTable td,
th {
  border: solid black 2px;
  padding: 8px;
  overflow: auto;
}

.u-mt-medium {
  margin-top: 16px;
}
.u-mt-small {
  margin-top: 8px;
}
.u-mt-large {
  margin-top: 32px;
}

.u-mb-medium {
  margin-bottom: 16px;
}

.u-mr-medium {
  margin-right: 16px;
}

.u-t-center {
  text-align: center;
}

.thin-btn {
  padding: 4px 8px;
}

.productImage {
  height: 150px;
}

.productDetails span {
  font-weight: bolder;
  font-size: 1.2em;
  margin-right: 16px;
}

.fieldWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.btn-chunky {
  height: 85px;
}

.btn-chunky:hover {
  background-color: #21242B;
  transition: all 0.3s;
  border-color: #21242B;
  color: black;
}
